<html>
    <title>{{ title }} - TagsDB</title>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body style="text-align:center">
        <h1>{{ title }}</h1>
        {% block content %}{% endblock %}
        <br>
        <div style="text-align:left">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <li> {{message}} </li><br>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <a href=/index.html>Home</a> | <a href=add_fact>Add Fact</a> | <a href=search>Search</a>
    </body>

</html>
